<header>
  <nav *ngIf="isAuthenticated">
    <ul class="nav justify-content-start">
      <li routerLink="fleet" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon fleet"></div>
        <div class="menu-item-text">MY FLEET</div>
      </li>
      <li routerLink="ship" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon ship"></div>
        <div class="menu-item-text">SHIP</div>
      </li>
      <li routerLink="notifications" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon notifications"></div>
        <div class="menu-item-text">NOTIFICATIONS</div>
      </li>
      <li routerLink="asset" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon asset"></div>
        <div class="menu-item-text">ASSET</div>
      </li>
      <li routerLink="cases" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon cases"></div>
        <div class="menu-item-text">CASES</div>
      </li>
      <li routerLink="rmd" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon rmd"></div>
        <div class="menu-item-text">RMD</div>
      </li>
      <li routerLink="reports" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon reports"></div>
        <div class="menu-item-text">REPORTS</div>
      </li>
      <li routerLink="cameras" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon cameras"></div>
        <div class="menu-item-text">CAMERAS</div>
      </li>
      <li routerLink="chat" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon chat"></div>
        <div class="menu-item-text">CHAT</div>
      </li>
      <li routerLink="tfoc" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon tfoc"></div>
        <div class="menu-item-text">TFOC</div>
      </li>
      <li routerLink="eca" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon eca"></div>
        <div class="menu-item-text">ECA</div>
      </li>
      <li routerLink="logout" routerLinkActive="active" class="nav-item">
        <div class="menu-item-icon "></div>
        <div class="menu-item-text">Logout</div>
      </li>
    </ul>
  </nav>
</header>
