.tile {
  /*
  border: 1px solid #888;
  */
  position: absolute;
  text-align: center;
  font-size: 8px;

  width: 24px;
  height: 24px;
  background-color: #EEEEEE;
}

.covered {
  background-image: url("../../../assets/images/covered.png");
}

.empty {
  background-image: url("../../../assets/images/empty.png");
}

.mine {
  background-image: url("../../../assets/images/mine.png");
}

.mine-wrong {
  background-image: url("../../../assets/images/mine-wrong.png");
}

.number-1 {
  background-image: url("../../../assets/images/number-1.png");
}
.number-2 {
  background-image: url("../../../assets/images/number-2.png");
}
.number-3 {
  background-image: url("../../../assets/images/number-3.png");
}
.number-4 {
  background-image: url("../../../assets/images/number-4.png");
}
.number-5 {
  background-image: url("../../../assets/images/number-5.png");
}
.number-6 {
  background-image: url("../../../assets/images/number-6.png");
}
.number-7 {
  background-image: url("../../../assets/images/number-7.png");
}
.number-8 {
  background-image: url("../../../assets/images/number-8.png");
}
