.homeContainer {
  color: #5561ff;
  height: 100%;
  width: 100%;
}

.homeContentContainer {
  height: 100%;
  width: 100%;

  display: grid;
  /*
  grid-gap: 10px;
  */
  grid-template-columns: repeat(12, 1fr);
}

.minesweeperContainer {
  color: #5561ff;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
}
