<div class="board-inner" id="status-buttons">

  <div class="breadcrumb flat" id="myTab">

    <!-- Select Products -->
    <a uiSrefActive="active" uiSref="product" data-toggle="tab" title="product">Select Products</a>

    <!-- Contact & Billing -->
    <a uiSrefActive="active" uiSref="billing" data-toggle="tab" title="billing">Contact & Billing</a>

  </div>

  <!--
  <div class="breadcrumbChevron">

    &lt;!&ndash; Select Products &ndash;&gt;
    <li><a uiSrefActive="active" uiSref="product" data-toggle="tab" title="product"><span class="icon icon-beaker"> </span>Select Products</a></li>

    &lt;!&ndash; Contact & Billing &ndash;&gt;
    <li><a uiSrefActive="" uiSref="billing" data-toggle="tab" title="billing"><span class="icon icon-beaker"> </span>Contact & Billing</a></li>

  </div>
  -->

</div>
