.route-link-overview {
  background-color: blueviolet;
  color: white;
}
.route-link-diagnostics {
  background-color: brown;
  color: white;
}
.route-link-documents {
  background-color: #ff7525;
  color: white;
}
