<!-- Dialog Launch Button -->
<button class="btn btn-sm settings"
        style="width: 28px; height: 28px; vertical-align: middle;"
        type="button" (click)="open(optionDialog)"></button>

<!-- Dialog Template -->
<ng-template #optionDialog let-c="close" let-d="dismiss">

  <div class="optionDialog">

    <!--
    <div class="modal-header option-header-background option-border"
         style="border-bottom:solid 0px #3d4b5f!important;">
      <h4 class="modal-title">Options</h4>
    </div>
    -->

    <div class="modal-body option-background option-border">

      <!-- Option Form -->
      <form #form="ngForm">

        <!-- Tile Size -->
        <div class="form-group">
          <label for="numTileSize">Tile Size:&nbsp;</label>
          <input
            id="tableSize"
            name="tableSize"
            type="number" min="5" max="40"
            class="option-input-box"
            style="height: 30px;"
            placeholder="Enter tile size"
            [(ngModel)]="inputTableSize"
            required
            #title="ngModel">
          <span class="help-block" *ngIf="(title.invalid && title.touched)">Enter tile size</span>
        </div>

        <!-- Number of Mines -->
        <div class="form-group">
          <label for="numMines">Number of Mines:&nbsp;</label>
          <input
            id="numberOfMines"
            name="numberOfMines"
            type="number" min="5" max="50"
            class="option-input-box"
            style="height: 30px;"
            placeholder="Enter number of mines"
            [(ngModel)]="inputNumberOfMines"
            required
            #title="ngModel">
          <span class="help-block" *ngIf="(title.invalid && title.touched)">Enter number of mines</span>
        </div>

        <!-- Dialog Footer -->
        <div class="modal-footer" style="border: none!important; padding: 0px!important;">
          <button
            name="btnSave" type="button"
            class="btn btn-sm btn-secondary"
            [disabled]="form.invalid || selectedCategory || selectedSeverities"
            (click)="c(form)">Save</button>
          <button
            name="btnClose" type="button"
            class="btn btn-sm btn-secondary"
            (click)="c('Close')">Cancel</button>
        </div>
      </form>

    </div>

  </div>

</ng-template>
